/*------------------------------------*\
    #LOCATION ITEM CARD
\*------------------------------------*/
.location-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #D7D9DA;
    padding: 1.25rem;

    &--columns {
        flex-direction: row;

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__content {
        margin-left: 25px;

        @media (max-width: 991px) {
            margin: 0 auto;
        }
    }

    &__icon-wrapper {
        display: flex;

        .location-card__icon {
            &:first-of-type {
                margin-right: 60px;

                @media (max-width: 991px) {
                    margin-right: 0;
                }
            }
        }

        @media (max-width: 991px) {
            display: block;
        }
    }
}

.location-card__map {
    margin-bottom: 1.25rem;
}

@media (max-width: 61.9375rem) {
    .location-card__map {
        height: 9.375rem;
        width: 18.75rem;
        margin: 0 auto 1.25rem;
    }
}

.location-card__name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1D72AF;
}

.location-card__name>a {
    color: #1D72AF;
}

.location-card__icon,
.location-card__icon-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.location-card__icon {
    margin-bottom: 1.25rem;
}

.location-card .c-icon {
    width: 1.875rem;
    height: 1.875rem;
}

.location-card__icon .c-icon img {
    height: 15px;
    width: 10px;
}

.location-card__icon-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 15px;
}

.location-card__icon-content p {
    margin-bottom: 5px;
}

.location-card__icon-content a {
    color: #1D72AF;
}

.location-card__phone {
    font-size: 1.3125rem;
    font-weight: 500;
    line-height: 1;
}