body {
  background-color: yellow;
  margin: 0;
}

.container {
  width: 100vw;
  display: grid;
  height: 100vh;

  @media all and (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.navigation {
  background-color: #343a40;
  text-align: center;
  padding: 16px;

  @media all and (min-width: 992px) {
    grid-column: span 3;
    height: 100vh;
    background: url('../images/wave.jpg') center;
    box-shadow: inset 0px 0px 450px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.content {
  padding: 16px;

  @media all and (min-width: 992px) {
    overflow: auto;
    grid-column: span 9;
    padding: 64px;
    overflow: auto;
  }
}

.pagination {
  margin: 15px;
  text-align: center;
  list-style-type: none;

  .prev-page {
    display: inline-block;
    padding: 5px;
  }

  .page {
    display: inline-block;
    margin: 0 5px;

    padding: 5px;
  }

  .next-page {
    display: inline-block;
    padding: 5px;
    a {
      color: #4fb1ba;
    }
  }

  .active {
    color: #fff;
  }
}
